@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700&family=Oswald:wght@700&display=swap');

body
{
  position: relative;
}

// "To the top" function
#to-the-top
{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color:  rgb(237, 209, 0);
  box-shadow: inset 0 0 12px 2px #cf7f00d0, inset 0 0 8px 1px #ff6f017e;
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  z-index: 5;
  position: fixed;
  bottom: 2%;
  left: 2%;
  opacity: 0.8;
  transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out, opacity 100ms ease-in-out; 


  &:hover
  {
    box-shadow: inset 0 0 12px 6px #cf8000e5, 0 0 6px 1px #ff6f017e ;
    transform: scale(1.1)
  }

  &:active
  {
    background-color: rgb(255, 238, 110);
  }

}

.hide-btn
{
  opacity: 0 !important;
}

// Chat function
.chatfunction
{
  width: 56px;
  height: 56px;
  background-color: #72b901;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  z-index: 1;
  bottom: 3%;
  right: 2%;
  transition: ease-in-out 120ms; 

  &:hover
  {
    background-color: #588f01;
  }

  &:active
  {
    transform: scale(0.9);
    border: none;
  }

  i
  {
    font-size: 25px;
    border: none;
    position: absolute;
  }
}

#chat-container
{
  position: fixed;
  right: 2%;
  bottom: 12%;
  z-index: 2;
  width: 20vw;
  height: 60vh;
  background-color: white;
  opacity: 1;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px 1px #7373735c;
  transition: opacity ease-in-out 120ms, right 240ms;

  #green
  {
    background-color: #72b901;
    color: #e5e5e5;
    text-align: center;
    padding-block: 1rem;
  }

  .box-container
  {
    padding: 1rem;
    margin-inline: 2rem;
    box-shadow: 0 5px 8px 0px #97a482;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14%;

    i{
      font-size: 2rem;
      font-weight: 100;
      color: #72b901;
      padding: 1rem;
    }

    .text-container
    {
      padding: 0;
      margin-left: 1rem;
      p{
        font-weight: 100;
        font-size: 12px;
      }
    }
  }

  #chat-now
  {
    position: absolute;
    top: 14%;
    transition: top ease-in-out 100ms;

    &:hover
    {
      top: 13.5%;
    }
  }

  #email{
    position: absolute;
    top: 39%;
    transition: top ease-in-out 100ms;

    &:hover
    {
      top: 38.5%;
    }
  }
}

.hide 
{
  opacity: 0 !important;
  right: -100% !important;
}

// Your cart function
.your-cart-function
{
  width: 162px;
  height: 40px;
  background-color: #353535e9;
  color: white;
  border: solid 1px white;
  border-bottom: none;
  position: fixed;
  box-shadow: 2px 2px 4px 0 #353535;
  bottom: 34%;
  right: 25%;
  z-index: 4;
  transition: bottom ease-in-out 200ms, rotate ease-in-out 200ms; 

  i
  {
    margin: 10px;
    transform: rotate(180deg);
  }

}

.hide-btn-your-cart
{
  bottom: 0;
  i
  {
    transform: rotate(0deg);
  }

}

.YourCartContainer
{
  width: 50vw;
  height: 20rem;
  background-color: #1d1d1dce;
  border: solid 2px rgb(245, 245, 245);
  box-shadow: 0 0 4px 0 #353535;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-items: center;
  transition: bottom ease-in-out 200ms, opacity ease-in-out 120ms;

  .top-info-cart-container
  {
    display: flex;
    justify-content: left;
    color: white;
    padding: 0.5rem 12px;
    width: 100%;

    #Your-cart-contains
    {
      width: 80%;
    }

    #Qty
    {
      width: 10%;
    }
    #Price
    {
      width: 10%;
    }
  }

  .end-of-your-cart
  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .your-products-container
  {
    width: 98%;
    height: 75%;
    border: solid 1px rgb(184, 184, 184);
  }

  #btn-editChekout
  {
    background-color: #dddddd;
    display: inline-flex;
    align-items: center;
    box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.533);
    padding-block: 0.4rem; 
    padding-inline: 1.4rem;
    border-radius: 0.2rem;
  }
}

.hide-your-cart 
{
  opacity: 0 !important;
  bottom: -100% !important;
}

//Button
.btn-yellow
{
  display: inline-block;
  background-color: rgb(237, 209, 0);
  box-shadow: inset 0 0 12px 2px #cf7f00d0, inset 0 0 8px 1px #ff6f017e;
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  transition: box-shadow ease-in-out 1020ms;  

  &:hover
  {
    box-shadow: inset 0 0 12px 6px #cf8000e5, 0 0 6px 1px #ff6f017e;
  }

  a
  {
    color: rgb(22, 22, 22);
    text-decoration: none;
    font-size: 15px;
  }
}

.btn-green
{
  background-color: #609b01;
  display: inline-flex;
  align-items: center;
  box-shadow: inset 0 0 12px 0px rgba(0, 0, 0, 0.533);
  padding-block: 0.4rem; 
  padding-inline: 1.4rem;
  border-radius: 0.2rem;
  width: auto;
  height: auto;
  color: white;

  &:hover
  {
    box-shadow: inset 0 0 22px 0px rgba(0, 0, 0, 0.865);
  }
}

// Header
.header 
{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 14rem;
    padding-block: 0;
    margin-block: 0;
  
    .Contact-Us 
    {
      display: inline-flex;
      align-items: center;
      
      padding: 10px 0px;

      &:hover
      {
        background-color: #474747;
      }

  
      a
      {
        color: white; 
        text-decoration: none;
      }

      span
      {
        color: white;
        margin-left: 10px;
      }
    }
  

    .gift-signin
    {
      display: inline-flex;
      align-items: center;
      background-color: transparent;
      color: white;

      .btn-gift-list
      {
        background-color: transparent;
        color: white;
        padding-right: 10px;
        padding-block: 10px;
        border: none;

        &:hover
        {
          background-color: #474747;
        }
      }

      .sigin
      {
        padding: 6px 14px;
        align-items: center;
        background-color: transparent;
        color: white;
        border: none;
  
          &:hover
          {
            background-color: #474747;
          }

      }

      #warhammer-light
      {
        width: 33px;
        height: auto;
        margin-right: 10px;
      }
    }
}

// Section 1 - "Serach"
  .section.search
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 14rem;
  padding-block: 0.5rem;

  #GW-logo
  {
    width: 12rem;
  }


  #searchfunction
  {
    padding: 6px 8px; 
    background-color: #e5e5e5;
    box-shadow: inset 0px 0 10px 2px #737373;
    box-shadow: inset 5px 0px 15px 2px #35353573;
    border-radius: 0.3rem;
    z-index: 0;

    #Searchbox-top
    {
      background-color: transparent;
      color: black;
      border: none;
      outline: none;
      z-index: 1;
      width: 16rem;
    }

    #btn-search
    {
      border: none;
      background-color: transparent;
    }
  }

  label
  {
    font-size: 14px;
  }


  #delivering
  {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-deliveringTo
    {
      border: none;
      width: 26px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 14px;
  
      #sweden
      {
        width: 26px;
        height: 20px;
      }
    }
  }

}

// Section 2 - "Main menu
.section.menu
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(22, 22, 22);
  height: 75px;
  width: auto;
  padding-block: 0rem;
  
  .container-menu
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding: 0px 16px;
    padding-block: auto;

    &:hover
    {
      background-color: #474747;
    }

    a
    {
      color: white;
      text-decoration: none;
      line-height: 1.2rem;
    }

    .image-menu
    {
      width: 80%;
    }
  }

}

// Section 3 - "Main image"
.section.image
{
  display: flex;
  flex-direction: column;
  position: relative;

  #buildyour
  {
    width: 25rem;
    height: 20rem;
    background-color: #00000089;
    position:absolute;
    bottom: 0;
    left: 12%;
    padding-inline: 4rem;
    padding-top: 6rem; 
    color: white; 
    
    h3
    {
      font-weight: 700;
    }

    #HH-logo
    {
      position: absolute;
      top: -12%;
      left: 12%;
      width: 80%; 
    }
  }

  #main-image
  {
    width: auto;
    height: auto;
  }
}

// Section 4 - "What's new"
section.new
{
  padding-block: 2rem;
  padding-inline: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1.5rem;

  .container-new
  {
    position: relative;

    .image-grid
    {
      width: 38rem;
      height: 22rem;
      border-radius: 0.3rem;
    }

    .content-new
    {
      background-color: #00000089;
      padding: 0.6rem;
      color: white;
      width: 50%; 
      position: absolute;
      bottom: 0;
      left: 5%; 

      h4
      {
        font-size: 1.1rem;
        font-weight: 700;
      }
    }
  }
}

// Section 5 - "How to order"
.section.HowTo
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-block: 2rem;

  .HowTo-image
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18rem;

    .box-image
    {
      padding-bottom: 2.5rem;
    } 

    a
    {
      color: black;
      text-decoration: none;

    }
    h4
    {
      font-size: 1.1rem;
      font-weight: 700;
    }
  }
}

// Section 6 - "Featured products"
.section.featured
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;

  .headline
  {
    text-align: center;
    padding-bottom: 2rem;

    h1
    {
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      font-size: 3rem;
    }

    h3
    {
      font-weight: 400;
    }
  }

  .new-items
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 6rem;

    .item-container
    {
      display: flex;
      justify-content: right;
      align-items: start;
      width: 30rem;
      height: auto;
      position: relative;

      a
      {
        color: black;
        text-decoration: none;
      }

      .image-featured
      {
        width: 24rem;
        height: 24rem;
      }

      .text-container
      {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        background-color: #ffffffa3;
        padding: 1rem;
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;

        .btn-yellow
        {
          width: 6rem;
        }

        h4
        {
          font-size: 1rem;
          font-weight: 700;
        }
      }
    }
  }
}

// Section 7 - "Import Duties and Taxes"
.section.import
{
display: flex;
justify-content: center;
align-items: center;
padding-block: 1.5rem;
color: rgb(22, 22, 22);
} 

// Section 8 - "Subscribe"
.section.subscribe
{
   background-color: rgb(22, 22, 22);
   padding-inline: 14rem;
   padding-block: 1rem;
   display: flex;
   justify-content: space-between;

   .subscribe
   {
    color: white;

    h2
  {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem; 
  }

    #subscribe
    {
      display: flex;
      
      #email
      {
        margin-right: 1.5rem;
        padding: 0.4rem;
        border-radius: 0.2rem;
        border: none;
        width: 22rem;
      }
    }
   }

   .terms
   {
    color: white;
    padding: 1rem;
    font-size: 13px; 
    a
    {
      color: white;
    }
   }
   
}

// Footer
.section.footer
{
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  padding-inline: 14rem;
  color: white;

    .content
    {
      padding-block: 1rem;
      display: flex;
      flex-direction: column;

      a
      {
        color: white;
        text-decoration: none;
        padding-bottom: 0.7rem;

        &:hover
        {
          text-decoration: underline;
        }
      }

      h2
      {
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 1rem; 
      }
    }

    .split
    {
      display: flex;

      .border
      {
        width: 2px;
        height: 142px;
        background-color: white;
        margin-inline: 1.2rem;  
      }

      a
      {
        color: white;
        text-decoration: none;
      }

      .split-content
      {
        display: flex;
        flex-direction: column;
      }
    }

  }

// COPY RIGHT 
.footer-footer
{
  padding-top: 1rem;
  background-color: rgb(22, 22, 22);
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-inline: 14rem;
}
