@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700&family=Oswald:wght@700&display=swap");
body {
  position: relative;
}

#to-the-top {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(237, 209, 0);
  box-shadow: inset 0 0 12px 2px rgba(207, 127, 0, 0.8156862745), inset 0 0 8px 1px rgba(255, 111, 1, 0.4941176471);
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  z-index: 5;
  position: fixed;
  bottom: 2%;
  left: 2%;
  opacity: 0.8;
  transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out, opacity 100ms ease-in-out;
}
#to-the-top:hover {
  box-shadow: inset 0 0 12px 6px rgba(207, 128, 0, 0.8980392157), 0 0 6px 1px rgba(255, 111, 1, 0.4941176471);
  transform: scale(1.1);
}
#to-the-top:active {
  background-color: rgb(255, 238, 110);
}

.hide-btn {
  opacity: 0 !important;
}

.chatfunction {
  width: 56px;
  height: 56px;
  background-color: #72b901;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  z-index: 1;
  bottom: 3%;
  right: 2%;
  transition: ease-in-out 120ms;
}
.chatfunction:hover {
  background-color: #588f01;
}
.chatfunction:active {
  transform: scale(0.9);
  border: none;
}
.chatfunction i {
  font-size: 25px;
  border: none;
  position: absolute;
}

#chat-container {
  position: fixed;
  right: 2%;
  bottom: 12%;
  z-index: 2;
  width: 20vw;
  height: 60vh;
  background-color: white;
  opacity: 1;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px 1px rgba(115, 115, 115, 0.3607843137);
  transition: opacity ease-in-out 120ms, right 240ms;
}
#chat-container #green {
  background-color: #72b901;
  color: #e5e5e5;
  text-align: center;
  padding-block: 1rem;
}
#chat-container .box-container {
  padding: 1rem;
  margin-inline: 2rem;
  box-shadow: 0 5px 8px 0px #97a482;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14%;
}
#chat-container .box-container i {
  font-size: 2rem;
  font-weight: 100;
  color: #72b901;
  padding: 1rem;
}
#chat-container .box-container .text-container {
  padding: 0;
  margin-left: 1rem;
}
#chat-container .box-container .text-container p {
  font-weight: 100;
  font-size: 12px;
}
#chat-container #chat-now {
  position: absolute;
  top: 14%;
  transition: top ease-in-out 100ms;
}
#chat-container #chat-now:hover {
  top: 13.5%;
}
#chat-container #email {
  position: absolute;
  top: 39%;
  transition: top ease-in-out 100ms;
}
#chat-container #email:hover {
  top: 38.5%;
}

.hide {
  opacity: 0 !important;
  right: -100% !important;
}

.your-cart-function {
  width: 162px;
  height: 40px;
  background-color: rgba(53, 53, 53, 0.9137254902);
  color: white;
  border: solid 1px white;
  border-bottom: none;
  position: fixed;
  box-shadow: 2px 2px 4px 0 #353535;
  bottom: 34%;
  right: 25%;
  z-index: 4;
  transition: bottom ease-in-out 200ms, rotate ease-in-out 200ms;
}
.your-cart-function i {
  margin: 10px;
  transform: rotate(180deg);
}

.hide-btn-your-cart {
  bottom: 0;
}
.hide-btn-your-cart i {
  transform: rotate(0deg);
}

.YourCartContainer {
  width: 50vw;
  height: 20rem;
  background-color: rgba(29, 29, 29, 0.8078431373);
  border: solid 2px rgb(245, 245, 245);
  box-shadow: 0 0 4px 0 #353535;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  transition: bottom ease-in-out 200ms, opacity ease-in-out 120ms;
}
.YourCartContainer .top-info-cart-container {
  display: flex;
  justify-content: left;
  color: white;
  padding: 0.5rem 12px;
  width: 100%;
}
.YourCartContainer .top-info-cart-container #Your-cart-contains {
  width: 80%;
}
.YourCartContainer .top-info-cart-container #Qty {
  width: 10%;
}
.YourCartContainer .top-info-cart-container #Price {
  width: 10%;
}
.YourCartContainer .end-of-your-cart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.YourCartContainer .your-products-container {
  width: 98%;
  height: 75%;
  border: solid 1px rgb(184, 184, 184);
}
.YourCartContainer #btn-editChekout {
  background-color: #dddddd;
  display: inline-flex;
  align-items: center;
  box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.533);
  padding-block: 0.4rem;
  padding-inline: 1.4rem;
  border-radius: 0.2rem;
}

.hide-your-cart {
  opacity: 0 !important;
  bottom: -100% !important;
}

.btn-yellow {
  display: inline-block;
  background-color: rgb(237, 209, 0);
  box-shadow: inset 0 0 12px 2px rgba(207, 127, 0, 0.8156862745), inset 0 0 8px 1px rgba(255, 111, 1, 0.4941176471);
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  transition: box-shadow ease-in-out 1020ms;
}
.btn-yellow:hover {
  box-shadow: inset 0 0 12px 6px rgba(207, 128, 0, 0.8980392157), 0 0 6px 1px rgba(255, 111, 1, 0.4941176471);
}
.btn-yellow a {
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-size: 15px;
}

.btn-green {
  background-color: #609b01;
  display: inline-flex;
  align-items: center;
  box-shadow: inset 0 0 12px 0px rgba(0, 0, 0, 0.533);
  padding-block: 0.4rem;
  padding-inline: 1.4rem;
  border-radius: 0.2rem;
  width: auto;
  height: auto;
  color: white;
}
.btn-green:hover {
  box-shadow: inset 0 0 22px 0px rgba(0, 0, 0, 0.865);
}

.header {
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 14rem;
  padding-block: 0;
  margin-block: 0;
}
.header .Contact-Us {
  display: inline-flex;
  align-items: center;
  padding: 10px 0px;
}
.header .Contact-Us:hover {
  background-color: #474747;
}
.header .Contact-Us a {
  color: white;
  text-decoration: none;
}
.header .Contact-Us span {
  color: white;
  margin-left: 10px;
}
.header .gift-signin {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: white;
}
.header .gift-signin .btn-gift-list {
  background-color: transparent;
  color: white;
  padding-right: 10px;
  padding-block: 10px;
  border: none;
}
.header .gift-signin .btn-gift-list:hover {
  background-color: #474747;
}
.header .gift-signin .sigin {
  padding: 6px 14px;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
}
.header .gift-signin .sigin:hover {
  background-color: #474747;
}
.header .gift-signin #warhammer-light {
  width: 33px;
  height: auto;
  margin-right: 10px;
}

.section.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 14rem;
  padding-block: 0.5rem;
}
.section.search #GW-logo {
  width: 12rem;
}
.section.search #searchfunction {
  padding: 6px 8px;
  background-color: #e5e5e5;
  box-shadow: inset 0px 0 10px 2px #737373;
  box-shadow: inset 5px 0px 15px 2px rgba(53, 53, 53, 0.4509803922);
  border-radius: 0.3rem;
  z-index: 0;
}
.section.search #searchfunction #Searchbox-top {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  z-index: 1;
  width: 16rem;
}
.section.search #searchfunction #btn-search {
  border: none;
  background-color: transparent;
}
.section.search label {
  font-size: 14px;
}
.section.search #delivering {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section.search #delivering .btn-deliveringTo {
  border: none;
  width: 26px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}
.section.search #delivering .btn-deliveringTo #sweden {
  width: 26px;
  height: 20px;
}

.section.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(22, 22, 22);
  height: 75px;
  width: auto;
  padding-block: 0rem;
}
.section.menu .container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  padding: 0px 16px;
  padding-block: auto;
}
.section.menu .container-menu:hover {
  background-color: #474747;
}
.section.menu .container-menu a {
  color: white;
  text-decoration: none;
  line-height: 1.2rem;
}
.section.menu .container-menu .image-menu {
  width: 80%;
}

.section.image {
  display: flex;
  flex-direction: column;
  position: relative;
}
.section.image #buildyour {
  width: 25rem;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.537254902);
  position: absolute;
  bottom: 0;
  left: 12%;
  padding-inline: 4rem;
  padding-top: 6rem;
  color: white;
}
.section.image #buildyour h3 {
  font-weight: 700;
}
.section.image #buildyour #HH-logo {
  position: absolute;
  top: -12%;
  left: 12%;
  width: 80%;
}
.section.image #main-image {
  width: auto;
  height: auto;
}

section.new {
  padding-block: 2rem;
  padding-inline: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1.5rem;
}
section.new .container-new {
  position: relative;
}
section.new .container-new .image-grid {
  width: 38rem;
  height: 22rem;
  border-radius: 0.3rem;
}
section.new .container-new .content-new {
  background-color: rgba(0, 0, 0, 0.537254902);
  padding: 0.6rem;
  color: white;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 5%;
}
section.new .container-new .content-new h4 {
  font-size: 1.1rem;
  font-weight: 700;
}

.section.HowTo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-block: 2rem;
}
.section.HowTo .HowTo-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 18rem;
}
.section.HowTo .HowTo-image .box-image {
  padding-bottom: 2.5rem;
}
.section.HowTo .HowTo-image a {
  color: black;
  text-decoration: none;
}
.section.HowTo .HowTo-image h4 {
  font-size: 1.1rem;
  font-weight: 700;
}

.section.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
}
.section.featured .headline {
  text-align: center;
  padding-bottom: 2rem;
}
.section.featured .headline h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}
.section.featured .headline h3 {
  font-weight: 400;
}
.section.featured .new-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 6rem;
}
.section.featured .new-items .item-container {
  display: flex;
  justify-content: right;
  align-items: start;
  width: 30rem;
  height: auto;
  position: relative;
}
.section.featured .new-items .item-container a {
  color: black;
  text-decoration: none;
}
.section.featured .new-items .item-container .image-featured {
  width: 24rem;
  height: 24rem;
}
.section.featured .new-items .item-container .text-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6392156863);
  padding: 1rem;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}
.section.featured .new-items .item-container .text-container .btn-yellow {
  width: 6rem;
}
.section.featured .new-items .item-container .text-container h4 {
  font-size: 1rem;
  font-weight: 700;
}

.section.import {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.5rem;
  color: rgb(22, 22, 22);
}

.section.subscribe {
  background-color: rgb(22, 22, 22);
  padding-inline: 14rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
}
.section.subscribe .subscribe {
  color: white;
}
.section.subscribe .subscribe h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.section.subscribe .subscribe #subscribe {
  display: flex;
}
.section.subscribe .subscribe #subscribe #email {
  margin-right: 1.5rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: none;
  width: 22rem;
}
.section.subscribe .terms {
  color: white;
  padding: 1rem;
  font-size: 13px;
}
.section.subscribe .terms a {
  color: white;
}

.section.footer {
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  padding-inline: 14rem;
  color: white;
}
.section.footer .content {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
}
.section.footer .content a {
  color: white;
  text-decoration: none;
  padding-bottom: 0.7rem;
}
.section.footer .content a:hover {
  text-decoration: underline;
}
.section.footer .content h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.section.footer .split {
  display: flex;
}
.section.footer .split .border {
  width: 2px;
  height: 142px;
  background-color: white;
  margin-inline: 1.2rem;
}
.section.footer .split a {
  color: white;
  text-decoration: none;
}
.section.footer .split .split-content {
  display: flex;
  flex-direction: column;
}

.footer-footer {
  padding-top: 1rem;
  background-color: rgb(22, 22, 22);
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-inline: 14rem;
}